<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing cost</h1>

  <%= render "form", cost: @cost %>

  <%#<%= link_to "Show this cost", @cost, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to category", category_costs_path(params[:category_id]), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>  
</div>
