<div class="mx-auto w-full">
<div class="border-b container py-4 w-full mb-5 mt-3 flex justify-between">
<%= link_to category_costs_path(params[:category_id]) do %>
  <%= image_tag "arrow.png", class:"invert rotate-180", size:"40", alt: "logo" %>
<% end %>
<h2 class="text-white text-4xl text-center">New expense</h2>
</div>
  <%= render "form", cost: @cost %>
</div>
