<div class="mx-auto w-3/5 container">
  <%= link_to "Log in", new_user_session_path, class: "p-5 bg-blue-300 rounded m-5" %>
  <%= link_to "Sign up", new_user_registration_path, class: "p-5 bg-blue-300 rounded m-5" %>
</div>