<div class="mx-auto w-11/12 container flex-col h-full">
<div class="h-3/5 flex justify-center items-center">
<h1 class="font-bold font-['Ubuntu'] text-8xl w-full mx-auto text-center text-white">Penni</h1>
</div>
<div class="container flex-col w-full h-28">
<div class="w-full my-2 text-gray-600 bg-white border hover:bg-transparent hover:border hover:text-white text-2xl font-bold rounded-lg">
  <%= button_to "Log in", new_user_session_path, class: "rounded-lg w-full h-full p-8 hover:border-white" %>
  </div>
  <div class="w-full border text-white hover:bg-white hover:text-gray-600 text-2xl font-bold rounded-lg">
  <%= button_to "Sign up", "/users/sign_up/", method: :get, class: "rounded-lg w-full h-full p-8 border-white hover:bg-white" %>
</div>
</div>
</div>